@charset "utf-8";
/*
	styles for select
*/
.cusel, .cudsel5,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp, 
.jScrollArrowDown {
	background: url(../images/selects-2.png) no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 22px;
	background: #fff;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: 1px solid #a2a2a2;
	padding: 0 20px 0 0;
}
.catalog-filter .cusel {height: 26px;border: 1px solid #d6d6d6;}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 6px;
	height: 11px;
	width: 9px;
	background: url(../img/sprite.png) no-repeat 0 -33px;
}
.catalog-filter .cuselFrameRight {top: 6px;right: 10px;}

.cuselText { /* контейнер для отображенного текста селект */
	height: 14px;
	padding: 3px 0px 0 7px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 13px Arial;color:#737070;
	position: absolute;
	top: 0;
	left: 0;
}
.catalog-filter .cuselText {padding: 5px 0 0 7px; font: italic 11px georgia, Arial;color:#262626;}

* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span {position: relative;
	display: block; min-height :18px !important;
	cursor: pointer; line-height :18px; font-size: 11px; color:#4c4c4c;
	white-space: nowrap;
	padding: 2px 22px 2px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #003399;
	color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #CC0000;
	color: #fff;
	cursor: default;
}
.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: -1px;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;border: 1px solid #d6d6d6; z-index: 10;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 50;
	border: 1px solid #999; /* границы выпадающего спиcка */
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}