.catalog-filter .change-block .field label {margin: 4px 20px 0 0;}
.catalog-filter .change-block .field .checker {margin: 2px 6px 0 0;}
.catalog-filter .filter-block .field.sort .cusel {display: inline;}
.cab #content .in .order-info p span {display: inline; }
#header {z-index: 100;}

.catalog-block .pager {right: 4px; width: auto;}
.services-list li {width: 110px;word-wrap: break-word;}